<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<div class="jumbotron" style="margin-top: 1%;">
			<div class="container">
				<h1 class="display-5">Sistem Informasi Kepegawaian</h1>
				<p class="lead">Selamat datang di Sistem Informasi Kepegawaian.</p>
			</div>
		</div>
		<div class="row">

			<!-- 		 FORM DATA PEGAWAI   -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Lihat Data Pegawai Berdasarkan NIP</div>
					<div class="card-body">
						<form th:action="@{/pegawai}" method="GET">
							<label for="nip">Masukkan Nomor Induk Pegawai</label> <input
								id="nip" type="text" name="nip" class="form-control"> <input
								type="submit" class="btn btn-primary mt-2" value="Lihat">
						</form>
					</div>
				</div>
			</div>
			<!-- 		END FORM DATA PEGAWAI   -->
			<!-- 		 FORM DATA JABATAN   -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Lihat Detail Jabatan</div>
					<div class="card-body">
						<form th:action="@{/jabatan/view}" method="GET">
							<div class="form-group">
								<label for="exampleFormControlSelect2">Pilih Jabatan</label> <select
									class="form-control" id="exampleFormControlSelect2" name="id_jabatan">
									<option th:each="jabatan: ${jabatan}"
										th:text="${jabatan.getNama()}" th:value="${jabatan.getId()}"></option>
								</select>
							</div>
							<input type="submit" class="btn btn-primary mt-2" value="Lihat">
						</form>
					</div>
				</div>
			</div>
			<!-- 		END FORM DATA JABATAN   -->
			<!-- 		 FORM PEGAWAI SORT    -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Lihat Pegawai Termuda dan Tertua</div>
					<div class="card-body">
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
							<div class="form-group">
								<label for="exampleFormControlSelect2">Pilih Instansi</label> <select
									class="form-control" id="exampleFormControlSelect2" name="idInstansi">
									<option th:each="instansi: ${instansi}"
										th:text="${instansi.getNama()+' - '+instansi.getProvinsi().getNama()}" th:value="${instansi.getId()}"></option>
								</select>
							</div>
							<input type="submit" class="btn btn-primary mt-2" value="Lihat">
						</form>
					</div>
				</div>
			</div>
			<!-- 		FORM PEGAWAI SORT   -->
		</div>
	</div>
</body>
</html>