<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<head>
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="row">
<div class="table col-md-6">
	<br>
	<h3 th:text="'Lihat Data Pegawai Termuda - ' + ${termuda.nip}"></h3>
	<br>
	<table>
		<tr>
			<td>NIP</td>
			<td th:text="${termuda.nip}"></td>
		</tr>
		<tr>
			<td>Nama</td>
			<td th:text="${termuda.nama}"></td>
		</tr>
		<tr>
			<td>Tempat Lahir</td>
			<td th:text="${termuda.tempat_lahir}"></td>
		</tr>
		<tr>
			<td>Tanggal Lahir</td>
			<td th:text="${termuda.tanggal_lahir}"></td>
		</tr>
		<tr>
			<td>Tahun Masuk</td>
			<td th:text="${termuda.tahun_masuk}"></td>
		</tr>
		<tr>
            <td>Nama Instansi</td>
            <td th:text="${termuda.instansi.nama}+' - '+${termuda.instansi.provinsi.nama}"></td>
        </tr>
		<tr>
            <td>Jabatan</td>
            <td>
                <ul>
                    <li th:each="jabatan : ${termuda.jabatan}">
                        <span th:text="${jabatan.nama}"></span>
                    </li>
                </ul>
            </td>
        </tr>
		<tr>
			<td>Gaji</td>
			<td th:text="'Rp ' + ${gajiTermuda}"></td>
		</tr>
	</table>
	</div>
<div class="table col-md-6">
	<br>
	<h3 th:text="'Lihat Data Pegawai Tertua - ' + ${tertua.nip}"></h3>
	<br>
	<table>
		<tr>
			<td>NIP</td>
			<td th:text="${tertua.nip}"></td>
		</tr>
		<tr>
			<td>Nama</td>
			<td th:text="${tertua.nama}"></td>
		</tr>
		<tr>
			<td>Tempat Lahir</td>
			<td th:text="${tertua.tempat_lahir}"></td>
		</tr>
		<tr>
			<td>Tanggal Lahir</td>
			<td th:text="${tertua.tanggal_lahir}"></td>
		</tr>
		<tr>
			<td>Tahun Masuk</td>
			<td th:text="${tertua.tahun_masuk}"></td>
		</tr>
		<tr>
            <td>Nama Instansi</td>
            <td th:text="${tertua.instansi.nama}+' - '+${tertua.instansi.provinsi.nama}"></td>
        </tr>
		<tr>
            <td>Jabatan</td>
            <td>
                <ul>
                    <li th:each="jabatan : ${tertua.jabatan}">
                        <span th:text="${jabatan.nama}"></span>
                    </li>
                </ul>
            </td>
        </tr>
		<tr>
			<td>Gaji</td>
			<td th:text="'Rp ' + ${gajiTertua}"></td>
		</tr>
	</table>
</div>
</div>
</body>
</html>