<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<head>
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="table">
	<br>
	<h3 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h3>
	<br>
	<table>
		<tr>
			<td>NIP</td>
			<td th:text="${pegawai.nip}"></td>
		</tr>
		<tr>
			<td>Nama</td>
			<td th:text="${pegawai.nama}"></td>
		</tr>
		<tr>
			<td>Tempat Lahir</td>
			<td th:text="${pegawai.tempat_lahir}"></td>
		</tr>
		<tr>
			<td>Tanggal Lahir</td>
			<td th:text="${pegawai.tanggal_lahir}"></td>
		</tr>
		<tr>
			<td>Tahun Masuk</td>
			<td th:text="${pegawai.tahun_masuk}"></td>
		</tr>
		<tr>
            <td>Nama Instansi</td>
            <td th:text="${pegawai.instansi.nama}+' - '+${pegawai.instansi.provinsi.nama}"></td>
        </tr>
		<tr>
            <td>Jabatan</td>
            <td>
                <ul>
                    <li th:each="jabatan : ${jabatan}">
                        <span th:text="${jabatan.nama}"></span>
                    </li>
                </ul>
            </td>
        </tr>
		<tr>
			<td>Gaji</td>
			<td th:text="'Rp ' + ${gaji}"></td>
		</tr>
	</table>
	<br>
		<form th:action="@{/pegawai/ubah}">
		<input hidden th:value="${pegawai.nip}" name="nip" class="form-control"> 
			<button type="submit" class="btn btn-primary">Ubah</button>
		</form>
	</div>
</body>
</html>