<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<head>
    <title>Home</title>
    <object th:include="fragments/fragment :: jquery" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="table">
	<br>
	<h3 th:text="'Lihat Data Jabatan - ' + ${jabatan.nama}"></h3>
	<br>
	<table>
		<tr>
			<td>Nama</td>
			<td th:text="${jabatan.nama}"></td>
		</tr>
		<tr>
			<td>Deskripsi</td>
			<td th:text="${jabatan.deskripsi}"></td>
		</tr>
		<tr>
			<td>Gaji Pokok</td>
			<td th:text="'Rp '+${jabatan.gaji_pokok}"></td>
		</tr>
	</table>
	<br>
	<row>
	<div class="btn-group">
	<form th:action="@{/jabatan/ubah}" method="GET">
	<input type="hidden" name="id_jabatan" th:value="${jabatan.id}"></input>
			<button type="submit" class="btn btn-primary">Ubah</button>
		</form>
		<form th:action="@{/jabatan/hapus}" method="POST">
			<input type="hidden" name="id" th:value="${jabatan.id}"></input>
			<input type="hidden" name="nama" th:value="${jabatan.nama}"></input>
			<button style="display:none" id="deleteButton" type="submit" class="btn btn-secondary"></button>
		</form>
		</div>
	</row>
	</div>
</body>
<script>
$(function() {
	$.getJSON( "/jabatan/hapus/check?id_jabatan="+[[${jabatan.id}]], function( data ) {
		if (data.canDelete === "false") {
			$("#deleteButton").html('Cannot Be Deleted');
			$("#deleteButton").prop('disabled', true);
		}
		else {
			$("#deleteButton").html('Delete');
		}
		$("#deleteButton").show();
	});
});
</script>
</html>