<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<head>
<title>Home</title>
<object th:include="fragments/fragment :: jquery" th:remove="tag"></object>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<object th:include="fragments/fragment :: css_datatable" th:remove="tag"></object>
<object th:include="fragments/fragment :: js_datatable" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="table" style="padding:0% 2% 0% 2%;">
		<br>
		<h3>Lihat Semua Jabatan</h3>
		<br>
		<table id="tabelJabatan">
			<thead>
				<tr>
					<th>Nama</th>
					<th>Deskripsi</th>
					<th>Gaji Pokok</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="jabatan : ${jabatan}">
					<td th:text="${jabatan.nama}"></td>
					<td th:text="${jabatan.deskripsi}"></td>
					<td th:text="${jabatan.gaji_pokok}"></td>
				</tr>
		</table>
		<br>
		<form>
			<button type="submit" class="btn btn-primary">Ubah</button>
		</form>
	</div>
</body>
    
<script th:inline="javascript">
$(document).ready(function() {
    $('#tabelJabatan').DataTable();
} );
</script>
</html>